<form [formGroup]="form" class="dynamic-form">
  <div class="form-grid">
    @for (field of fields(); track $index) {
      @if (field.type === 'formtitle') {
        <h2 [style]="getTitleStyles(field)">
          {{ field.label }}
        </h2>
      }
      <div class="form-field" [class.full-width]="field.type === 'textarea'">
        <!-- Text Inputs -->
        @if (
          ['text', 'number', 'email', 'password', 'color', 'range'].includes(
            field.type
          )
        ) {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              [type]="getFieldType(field)"
              [formControlName]="field.name"
              [placeholder]="field.placeholder || ''"
            />
            @if (form.get(field.name)?.hasError('required')) {
              <mat-error> {{ field.label }} is required </mat-error>
            }
            @if (form.get(field.name)?.hasError('minlength')) {
              <mat-error
                >Minimum length required is
                {{ field.validation?.minLength }}</mat-error
              >
            }
            @if (form.get(field.name)?.hasError('maxlength')) {
              <mat-error
                >Maximum length required is
                {{ field.validation?.maxLength }}</mat-error
              >
            }
            @if (form.get(field.name)?.hasError('pattern')) {
              <mat-error>Invalid Format</mat-error>
            }

            @if (
              form.get(field.name)?.hasError('min') ||
              form.get(field.name)?.hasError('max')
            ) {
              <mat-error
                >{{ field.name }} should be between
                {{ field.validation?.min }} and
                {{ field.validation?.max }}</mat-error
              >
            }
          </mat-form-field>
        }

        <!-- Textarea -->
        @if (field.type === 'textarea') {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <textarea
              matInput
              [formControlName]="field.name"
              [placeholder]="field.placeholder || ''"
              rows="4"
            ></textarea>
            <mat-hint
              align="end"
              [class.error-text]="form.get(field.name)?.hasError('maxlength')"
            >
              {{ form.get(field.name)?.value?.length || 0 }}/{{
                field.validation?.maxLength
              }}
            </mat-hint>
            @if (form.get(field.name)?.hasError('minlength')) {
              <mat-error
                >Minimum length required is
                {{ field.validation?.minLength }}</mat-error
              >
            }
            @if (form.get(field.name)?.hasError('maxlength')) {
              <mat-error
                >Maximum length required is
                {{ field.validation?.maxLength }}</mat-error
              >
            }
          </mat-form-field>
        }

        <!-- Date -->
        @if (field.type === 'date') {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControlName]="field.name"
              [placeholder]="field.placeholder || ''"
              [min]="field.validation?.minDate"
              [max]="field.validation?.maxDate"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <!-- Errors -->
            <mat-error>{{
              getDateErrorsForTemplate(field.name, field)
            }}</mat-error>
          </mat-form-field>
        }

        <!-- Select -->
        @if (field.type === 'select') {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select
              [formControlName]="field.name"
              [multiple]="field.multiple"
            >
              @for (option of field.options; track $index) {
                <mat-option [value]="option.value">{{
                  option.label
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <!-- Checkbox -->
        @if (field.type === 'checkbox') {
          <mat-checkbox [formControlName]="field.name">{{
            field.label
          }}</mat-checkbox>
        }

        <!-- Toggle -->
        @if (field.type === 'toggle') {
          <div class="toggle-container">
            <mat-label>{{ field.label }}</mat-label>
            <mat-slide-toggle [formControlName]="field.name"></mat-slide-toggle>
          </div>
        }

        <!-- File Upload -->
        @if (field.type === 'file' || field.type === 'image') {
          <div class="file-upload-container">
            <mat-label>{{ field.label }}</mat-label>
            <input
              type="file"
              [accept]="
                field.accept || (field.type === 'image' ? 'image/*' : '*')
              "
              [multiple]="field.multiple"
              (change)="onFileChange($event, field.name)"
            />
            @if (
              field.validation?.maxFileSize || field.validation?.allowedTypes
            ) {
              <mat-hint
                >• Max size:
                {{ field.validation?.maxFileSize! / (1024 * 1024) }}MB <br />
                • Allowed:
                {{ field.validation?.allowedTypes?.join(', ') || 'All types' }}
              </mat-hint>
            }

            @if (form.get(field.name)?.hasError('fileErrors')) {
              <mat-error>
                @for (
                  error of form.get(field.name)?.errors?.['fileErrors'];
                  track $index
                ) {
                  {{ error }}
                }
              </mat-error>
            }
          </div>
        }

        <!-- Radio Buttons -->
        @if (field.type === 'radio') {
          <div class="radio-group">
            <mat-label>{{ field.label }}</mat-label>
            <mat-radio-group [formControlName]="field.name">
              @for (option of field.options; track $index) {
                <mat-radio-button [value]="option.value">{{
                  option.label
                }}</mat-radio-button>
              }
            </mat-radio-group>
          </div>
        }
      </div>
    }
  </div>

  <div class="form-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Submit
    </button>
    <button mat-button type="button" (click)="form.reset()">Reset</button>
  </div>
</form>
